/* src/components/HomePage.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.home-container img {
  width: 200px;
  margin-top: 200px;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.central-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #01161e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.central-button:hover {
  background-color: #a23b72;

