nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #cfe7ff;
  
}

.logo img {
  width: 40px;
  cursor: pointer;
}

.nome-da-empresa h1 {
  margin: 0;

}