nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #01161e;
    color: #c8c8c8;
  }
  
  .logo img {
    width: 40px;
    cursor: pointer;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .nome-da-empresa h1 {
    font-size: 1.7rem;
    margin-left: 15px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-links {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 40px;
    cursor: pointer;
    align-items: right;
  }
  
  .navbar-links li:hover {
    color: #a23b72;
  }
  
  .navbar-button {
    background-color: #bbb891;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .navbar-button:hover {
    background-color: #a23b72;
    color: #fff;
  }
  